@model IEnumerable<ProjectSemIII.Areas.Admin.Models.DataModel.Author>

<ul class="sub_menu">
    @foreach (var item in Model)
    {
        <li><a href="/Books/Author/@item.AuthorId">@item.AuthorName</a></li>
    }
</ul>

