
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row text-center"> <h1>Đăng nhập</h1></div>
    <form class="" action="/Home/Register" method="post">

        @Html.Raw(TempData["msg"])
        <div class="container">
            <div class="form-group row">
                <div class="col-md-3"><label for="uname"><b>Tên đăng nhập</b></label></div>
                <div class="col-md-8"><input type="text" placeholder="Nhập tên đăng nhập" name="username" required></div>
            </div>
            <div class="form-group row">
                <div class="col-md-3"><label><b>Mật khẩu</b></label></div>
                <div class="col-md-8">
                    <input type="password" placeholder="Nhập mật khẩu" name="password" required></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3"><label for="uname"><b>Họ và tên</b></label></div>
                    <div class="col-md-8"><input type="text" placeholder="Nhập họ tên" name="fullname" required></div>
                </div>


                <div class="form-group row">
                    <div class="col-md-3"><label for="uname"><b>Địa chỉ</b></label></div>
                    <div class="col-md-8"><input type="text" placeholder="Nhập địa chỉ" name="add" required></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3"><label for="uname"><b>Giới tính</b></label></div>
                    <div class="col-md-8"><input type="checkbox"  checked name="sex"> Nam</div>
                </div>


                <div class="form-group row">
                    <div class="col-md-3"><label for="uname"><b>Ngày sinh</b></label></div>
                    <div class="col-md-8"><input type="date" name="birthday" required></div>
                </div>


                <div class="form-group row">
                    <div class="col-md-3"><label for="uname"><b>Số điện thoại</b></label></div>
                    <div class="col-md-8"><input type="tel" placeholder="Nhập số điện thoại" name="phone" required></div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3"><label for="uname"><b>Email</b></label></div>
                    <div class="col-md-8"><input type="email" placeholder="Nhập email" name="email" required></div>
                </div>





                <br />
                <button style="align-items:center" class="btn btn-primary" type="submit">Đăng ký</button>
                <br />

                <div class="col-md-offset-4 col-md-3" style="padding-top:30px"><a href="~/Home/Login">Quay lại đăng nhập</a></div>

            </div>

            <div class="container" style="background-color:#f1f1f1">

                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
    </form>
</div>

