@model ProjectSemIII.Areas.Admin.Models.DataModel.Slideshow

<div class="item1-slick1 item-slick1  slick-slide" style="background-image: url(/Areas/Admin/Content/ImageAds/@Html.DisplayFor(modelItem => modelItem.Image1));">
    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
        <h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">
            Ebook - Tri Thức Việt
        </h2>
    </div>
</div>

<div class="item2-slick1 item-slick1  slick-slide" style="background-image: url(/Areas/Admin/Content/ImageAds/@Html.DisplayFor(modelItem => modelItem.Image2));">
    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
        <h4 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">
            Đi một ngày đàn học một sàn khôn
        </h4>
    </div>
</div>

<div class="item3-slick1 item-slick1  slick-slide" style="background-image: url(/Areas/Admin/Content/ImageAds/@Html.DisplayFor(modelItem => modelItem.Image3));">
    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
        <h3 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">
            Có công mài sắt có ngày nên sà beng
        </h3>
    </div>
</div>

<div class="item3-slick1 item-slick1  slick-slide" style="background-image: url(/Areas/Admin/Content/ImageAds/@Html.DisplayFor(modelItem => modelItem.Image4));">
    <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
        <h5 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">
            Bình Tĩnh Tự Tin Đừng Cay Cú. Âm Thầm Chịu Đựng Trả Thù Sau
        </h5>
    </div>
</div>



