
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row" style="font-size:15px; color:#dd00ff; background-color:#81a0b6">
   <marquee style="" >Chào mừng bạn đến với trang quản trị Website Ebook-Tri Thức Việt</marquee>
</div>
<div class="row">
    <svg viewBox="0 0 1000 300">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">EBOOK</text>
        </symbol>

        <g class="g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
    </svg>
    <svg viewBox="0 0 1000 300">
        <symbol id="ss-text">
            <text  text-anchor="middle" x="50%" y="50%">TRI THỨC VIỆT</text>
        </symbol>

        <g class="g-ants">
            <use xlink:href="#ss-text" class="text-copy"></use>
            <use xlink:href="#ss-text" class="text-copy"></use>
            <use xlink:href="#ss-text" class="text-copy"></use>
            <use xlink:href="#ss-text" class="text-copy"></use>
            <use xlink:href="#ss-text" class="text-copy"></use>
        </g>
    </svg>
</div>
